---
// import MusicTable from "../../components/MusicTable.astro";
import Layout from "../../layouts/Layout.astro";
import { PlayButtom } from "../../components/CardPlayButtom";

import { allPlaylists, songs } from "../../lib/data";
import { SongRow } from "../../components/SongRow";
const { id } = Astro.params;

const playList = allPlaylists.find((playlist) => playlist.id === id);
const playListSongs = songs.filter(
  (song) => song.albumId === playList?.albumId
);
---

<Layout title="Spotify Clone">
  <div transition:name=`playlist${id}all` class="transition-all duration-500">
    <div class="hidden">
      <PlayButtom client:visible id={id} transition:name=`playlist${id}asddd` />
    </div>
    <header class="flex flex-row gap-8 px-6 pt-6 pb-4">
      <picture
        class="aspect-square
      w-44
      h-44
      rounded-md
      shadow-lg
    shadow-[#000000]"
        style={{ transition: "box-shadow 0.1s" }}
      >
        <img
          src={playList?.cover}
          alt={`Cover of ${playList?.title} by ${playList?.artists}`}
          transition:name=`playlist ${playList?.id} image`
        />
      </picture>

      <div class="flex flex-col justify-between m-auto ml-2">
        <h2 class="flex flex-1 items-end text-white text-lg">Playlist</h2>
        <div>
          <a
            class="text-5xl font-bold block text-white mb-6"
            transition:name=`playlist ${playList?.title}`
          >
            {playList?.title}
          </a>
        </div>

        <div class="flex-1 flex items-end">
          <div class="text-sm text-gray-300 font-normal">
            <div transition:name=`playlist ${playList?.id} artists`>
              <span>{playList?.artists.join(", ")}</span>
            </div>
            <p class="mt-1">
              <span class="text-white">{playListSongs.length} canciones</span>,
              3 h aproximadamente
            </p>
          </div>
        </div>
      </div>
    </header>
    <div class="bg-zinc-800/20 mt-6 flex-1 p-6 blur-100">
      <div class="pl-6 pt-1 pb-1">
        <div>
          <PlayButtom client:visible id={id} />
        </div>
      </div>
      <SongRow song={playListSongs} />
    </div>
  </div>
</Layout>
