---
import Layout from "../../layouts/Layout.astro";
import { PlayButtom } from "../../components/CardPlayButtom";

import { allPlaylists, songs } from "../../lib/data";
import { SongRow } from "../../components/SongRow";
const { id } = Astro.params;

const playList = allPlaylists.find((playlist) => playlist.id === id);
const playListSongs = songs.filter(
  (song) => song.albumId === playList?.albumId
);
---

<Layout title="Spotify Clone">
  <div transition:name=`playlist ${id} all`>
    <header class="flex flex-row gap-8 px-6 pt-6 pb-4">
      <picture
        class="aspect-square
          w-44
          h-44
          rounded-md
          shadow-lg
        shadow-[#000000]"
        style={{ transition: "box-shadow 0.1s" }}
        transition:name=`playlist ${id} image`
      >
        <img
          src={playList?.cover}
          alt={`Cover of ${playList?.title} by ${playList?.artists}`}
        />
      </picture>
      <div class="flex flex-col justify-between m-auto ml-2">
        <h2 class="flex flex-1 items-end text-white text-lg">Playlist</h2>
        <div transition:name=`playlist ${id} title`>
          <a class="text-5xl font-bold block text-white mb-6">
            {playList?.title}
          </a>
        </div>

        <div class="flex-1 flex items-end">
          <div class="text-sm text-gray-300 font-normal">
            <div transition:name=`playlist ${id} artists`>
              <span>{playList?.artists.join(", ")}</span>
            </div>
            <p class="mt-1">
              <span class="text-white">{playListSongs.length} canciones</span>,
              3 h aproximadamente
            </p>
          </div>
        </div>
      </div>
    </header>
    <div class="bg-zinc-900/30 mt-6 flex-1 p-6 blur-100">
      <div class="flex gap-1 items-center ml-5 mt-1 mb-1" >
        <PlayButtom id={id} client:load/> 
      </div>
      <SongRow song={playListSongs} />
    </div>
    <div class="absolute h-[80vh] inset-0 z-[-1] bg-gradient-to-b from-blue-700" style="--context-color:#2ee9d7">
      <img src={playList?.cover} alt={`Cover of ${playList?.title} by ${playList?.artists}`} 
      class="el-to-fade transition-all duration-500 z-[-1] absolute inset-0 mix-blend-overlay opacity-20 w-full h-full object-cover blur-md" >
    </div>
  </div>
</Layout>
