---
import type { Playlist } from "../lib/data";
import { PlayButtom } from "../components/CardPlayButtom.jsx";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsStrings = artists.join(", ");
---

<article
  class="group relative bg-neutral-400/5 cursor-pointer hover:bg-neutral-400/10 rounded-md"
  style={`background-color: ${color};`}
  transition:name=`playlist ${id} all`
>
  <a
    href={`/playlists/${id}`}
    class="flex flex-col items-center justify-center gap-x-4 p-3 transition-all duration-700"
  >
    <div
      class="aspect-square w-full h-full rounded-md overflow-hidden shadow-lg shadow-[#000000]"
      style={{ transition: "box-shadow 0.1s" }}
      transition:name=`playlist ${id} image`
    >
      <picture>
        <img src={cover} alt={`Cover of ${title} by ${artistsStrings}`} />
      </picture>
    </div>
    <div class="flex flex-col items-start w-full pt-4 gap-y-1">
      <p
        class="font-semibold truncate w-full text-white"
        transition:name=`playlist ${id} title`
      >
        {title}
      </p>
      <p
        class="text-neutral-400 text-sm w-full truncate"
        transition:name=`playlist ${id} artists`
      >
        By {artists}
      </p>
    </div>
  </a>
  <div transition:name=`playlist ${id} play button`>
    <div
      class="absolute right-[25px] bottom-[90px] opacity-0 group-hover:opacity-100 transition-all duration-300 translate-y-5 group-hover:translate-y-0"
    >
      <PlayButtom id={id} client:load />
    </div>
  </div>
</article>
