---
import type { Playlist } from "../lib/data";
import { PlayButtom } from "../components/CardPlayButtom.jsx";

interface Props {
  playlist: Playlist;
}
const { playlist } = Astro.props;
const { id, cover, title, artists } = playlist;

const artistsStrings = artists.join(", ");
---

<div>
  <article
    class="group relative
    bg-neutral-400/5
      cursor-pointer
    hover:bg-neutral-400/10
      rounded-md"
  >
    <div
      class="absolute
        right-[25px]
        bottom-[105px]
        translate-y-5
        opacity-0
        group-hover:opacity-100
        group-hover:translate-y-0
        z-10
        transition-all
        duration-300"
      transition:name=`playlist${id}asddd`
    >
      <PlayButtom client:visible id={id} />
    </div>
    <a
      transition:name=`playlist${id}all`
      href={`/playlists/${id}`}
      class="flex
        flex-col
        items-center
        justify-center
        gap-x-4
        p-3
        transition-all
        duration-700"
    >
      <div
        class="aspect-square
          w-full
          h-full
          rounded-md
          overflow-hidden
          shadow-lg
          shadow-[#000000]"
        style={{ transition: "box-shadow 0.1s" }}
      >
        <picture>
          <img
            src={cover}
            alt={`Cover of ${title} by ${artistsStrings}`}
            transition:name=`playlist ${id} image`
          />
        </picture>
      </div>
      <div class="flex flex-col items-start w-full pt-4 gap-y-1">
        <p
          transition:name=`playlist ${title}`
          class="font-semibold truncate w-full text-white"
        >
          {title}
        </p>
        <p
          class="text-neutral-400
            text-sm
            pb-4
            w-full
            truncate"
          transition:name=`playlist ${id} artists`
        >
          By {artists}
        </p>
      </div>
    </a>
  </article>
</div>
